@model GameDB.Models.GameWithChars


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Description)
        </dd>


        <dd>
            @Html.HiddenFor(model => model.Game.ImageMimeType)
        </dd>

    </dl>
    <div>
        @if (Model.Game.ImageData != null)
        {
            <div class="pull-left" style="margin-right: 10px">
                <img class="img-thumbnail" width="75" height="75"
                     src="@Url.Action("GetImage","Game", new { Model.Game.GameID })" />
            </div>
        }
        else
        {
            <div class="pull-left" style="margin-right: 10px">
                <img class="img-thumbnail" width="75" height="75"
                     src='~/Assets/NoImage.png' />
            </div>
        }
    </div>

</div>


@if (this.User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Add Character", "Create", "Character", new { id = Model.Game.GameID }, null) |
        @Html.ActionLink("Edit", "Edit", new { id = Model.Game.GameID }, null)
    </p>
}
@Html.ActionLink("Back to List", "Index")


<!--  HERE GOES THE INDEX VIEW of CHARACTERS FOR THIS GAME -->
<div class="container giefTopMargin">
    @foreach (var character in Model.Characters)
    {
        if (character.ParentGameID == Model.Game.GameID)
        {
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 dummyImageTest">
                <div class="indexPlate">
                    @if (character.ImageData != null)
                    {
                        <a href="@Url.Action("Details","Character",  new {id = character.CharacterID })"><img class="img-responsive" width="272" height="380" src='@Url.Action("GetImage","Character", new { id = character.CharacterID })' /></a>
                    }
                    else
                    {
                        <a href="@Url.Action("Details","Character",  new {id = character.CharacterID })"><img class="img-responsive" width="272" height="380" src='~/Assets/NoImage.png' /></a>
                    }
                    @Html.DisplayFor(modelItem => character.Name)
                    <br>
                </div>
            </div>
        }
    }
</div>

@if (this.User.IsInRole("Admin"))
{
    <table class="table giefTopMargin">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
        </tr>

        @foreach (var character in Model.Characters)
        {
            if (character.ParentGameID == Model.Game.GameID)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => character.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => character.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Character", new { id = character.CharacterID }, null) |
                        @Html.ActionLink("Details", "Details", "Character", new { id = character.CharacterID }, null) |
                        @Html.ActionLink("Delete", "Delete", "Character", new { id = character.CharacterID }, null)
                    </td>
                </tr>



            }
        }
    </table>
}
